/* ================ ACHEIVEMENTS SECTION ================ */
.about_achievments {
    margin-top: 10rem;
}

.about__achievments-container {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5rem;
}

.about__achievments-right > p {
    margin: 1.6rem 0 2.5rem;
}

.achievments__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.achievment__card {
    background: var(--color-bg1);
    padding: 1.6rem;
    border-radius: 1rem;
    text-align: center;
    transition: var(--transition);
    cursor: default;
}

.achievment__card:hover {
    background: var(--color-bg2);
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
}

.achievment__card-icon {
    background: var(--color-danger);
    padding: 0.6rem;
    border-radius: 1rem;
    display: inline-block;
    margin-bottom: 2rem;
    font-size: 1.8rem;
}

.achievment__card:nth-child(2) .achievment__card-icon {
    background: var(--color-success);
}

.achievment__card:nth-child(3) .achievment__card-icon {
    background: var(--color-primary);
}

.achievment__card p {
    margin-top: 1rem;
}


/* ================ TEAM SECTION ================ */
.team {
    margin-top: 5rem;
    background: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.team__member-image img {
    /* width: 10rem;
    height: 12rem; */
    filter: saturate(0);
}

.team__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.team__member {
    padding: 2rem;
    background: var(--color-bg2);
    border: 1px solid transparent;
    transition: var(--transition);
    position: relative;
    overflow: hidden;
}

.team__member:hover {
    background: transparent;
    border-color: var(--color-primary);
}

.team__member:hover img {
    filter: saturate(100%);
}

.team__member-info * {
    text-align: center;
    margin-top: 1.4rem;
}

.team__member-info p {
    color: var(--color-light);
}

.team__member-socials {
    position: absolute;
    top: 50%;
    right: -100%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    background: var(--color-primary);
    border-radius: 1rem 0 0 1rem;
    box-shadow: -2rem 0 2rem rgba(0, 0, 0, 0.3);
    transition: var(--transition);
}

.team__member-socials a {
    padding: 1rem;
}

.team__member:hover .team__member-socials {
    right: 0;
}

footer {
    margin-top: 5rem;
    padding-top: 5rem;
    font-size: 0.9rem;
}


/* ================ MEDIA QUERIES  ================== */
/* ================ TABLETS ================== */
@media screen and (max-width: 1024px) {
    .about__achievments-container {
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .about__achievments-left {
        width: 70%;
        margin: 0 auto;
    }

    .team__container {
        gap: 1.5rem;
    }

    .team__member {
        padding: 1rem;
    }
}


/* ================ MOBILE PHONES ================== */
@media screen and (max-width: 600px) {
    .about__achievments-right h1 {
        font-size: 1.5rem;
    }

    .about__achievments-right p {
        font-size: 0.9rem;
    }
    .achievments__cards {
        grid-template-columns: 1fr;
    }

    .team__container {
        grid-template-columns: 1fr 1fr;
    }

    .team__member {
        padding: 0.5rem;
        gap: 0rem;
    }
}
